# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
qrc_*

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
aromatic

# Makefile
Makefile
*.pro.user
*.pro.user.*
.qmake.stash

# Output files
forecast.html
dl-*
tmp/
.run_date
